@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap&subset=cyrillic,cyrillic-ext');
@import "animations";

@mixin myFlex ($direction: column, $align: center, $justify: center) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

.flex {
    @include myFlex();
}

.underlineFromLeft {
    @include underlineFromLeft();
}

.fullWidth {
    width: 100%;
}

.halfWidth {
    width: 50%;
}

a {
    text-decoration: none;
    color: black;
}

.fullHeight {
    height: 100vh;
}

.fadeOut {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

.fadeIn {
    animation: fadeIn 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}