@import 'utility';

body {
    background-color: red;
    height: 100vh;
    @include myFlex(row);

    .mainContainer {
        width: 1024px;
        min-height: 100px;
        background-color: black;
        color: white;
        padding: 50px;
        box-sizing: border-box;
    }

    .flexRowLeft {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .zakupka {
        .produuctZakupka {}

        .zakupkaButton {}
    }

    .tabTrigger {
        margin-right: 20px;
        cursor: pointer;
        box-sizing: border-box;
        background-color: burlywood;
        border-radius: 25px;
        padding: 5px 40px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {}
