@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap&subset=cyrillic,cyrillic-ext");
* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.underlineFromLeft {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.underlineFromLeft:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: black;
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.underlineFromLeft:hover:before, .underlineFromLeft:focus:before, .underlineFromLeft:active:before {
  right: 0;
}

.fullWidth {
  width: 100%;
}

.halfWidth {
  width: 50%;
}

a {
  text-decoration: none;
  color: black;
}

.fullHeight {
  height: 100vh;
}

.fadeOut {
  -webkit-animation: fadeOut 1s;
          animation: fadeOut 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.fadeIn {
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#login {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#000000), color-stop(#2c2c2c), color-stop(#545454), color-stop(#808080), to(#afafaf));
  background-image: linear-gradient(to right bottom, #000000, #2c2c2c, #545454, #808080, #afafaf);
}

#login .flex * {
  opacity: 0.8;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

#login .flex *:hover {
  opacity: 1;
}

#login .flex div {
  padding: 40px;
  width: 40%;
}

#login .flex div a {
  opacity: 0.8;
}

#login .flex div h2 {
  color: white;
  text-transform: uppercase;
  margin-bottom: 20px;
  cursor: default;
}

#login .flex div form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

#login .flex div form ::-webkit-input-placeholder {
  color: white;
  font-size: 20px;
  font-weight: 700;
}

#login .flex div form :-ms-input-placeholder {
  color: white;
  font-size: 20px;
  font-weight: 700;
}

#login .flex div form ::-ms-input-placeholder {
  color: white;
  font-size: 20px;
  font-weight: 700;
}

#login .flex div form ::placeholder {
  color: white;
  font-size: 20px;
  font-weight: 700;
}

#login .flex div form label input {
  color: white;
  font-size: 20px;
  font-weight: 700;
  height: 40px;
  outline: none;
  border: none;
}

#login .flex div form label input[type="text"], #login .flex div form label input[type="password"] {
  cursor: default;
  margin-top: 5px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
}

#login .flex div form label input[type="submit"] {
  padding: 0px 20px;
  margin-top: 30px;
  cursor: pointer;
  background-color: black;
  margin-bottom: 40px;
}
/*# sourceMappingURL=style.css.map */