@import "./scssIncludes/animations.scss";
@import "./scssIncludes/utilities.scss";

#login {
    background-image: linear-gradient(to right bottom, #000000, #2c2c2c, #545454, #808080, #afafaf);

    .flex {

        * {
            opacity: 0.8;
            transition: opacity 0.2s;

            &:hover {
                opacity: 1;
            }
        }

        div {
            padding: 40px;
            width: 40%;

            a {
                opacity: 0.8;
            }


            h2 {
                color: white;
                text-transform: uppercase;
                margin-bottom: 20px;
                cursor: default;
            }

            form {
                width: 100%;

                @include myFlex(column, left, left);

                ::placeholder {
                    color: white;
                    font-size: 20px;
                    font-weight: 700;
                }

                label {

                    input {
                        color: white;
                        font-size: 20px;
                        font-weight: 700;

                        height: 40px;
                        outline: none;
                        border: none;


                        &[type="text"],
                        &[type="password"] {
                            cursor: default;
                            margin-top: 5px;
                            width: 100%;
                            background-color: rgba(255, 255, 255, 0);
                        }

                        &[type="submit"] {
                            padding: 0px 20px;
                            margin-top: 30px;
                            cursor: pointer;
                            background-color: black;
                            margin-bottom: 40px;
                        }
                    }
                }

            }
        }
    }
}