@mixin myFlex ($direction: column, $align: center, $justify: center) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap&subset=cyrillic,cyrillic-ext');
@import "animations";

* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

.flex {
    @include myFlex();
}

.underlineFromLeft {
    @include underlineFromLeft();
}

.fullWidth {
    width: 100%;
}

.halfWidth {
    width: 50%;
}

.fullHeight {
    height: 100vh;
}

#login {
    background-image: linear-gradient(to right bottom, #000000, #2c2c2c, #545454, #808080, #afafaf);

    .flex {
        animation: fadeIn 0.5s;
        animation-fill-mode: forwards;

        * {
            opacity: 0.8;
            transition: opacity 0.2s;

            &:hover {
                opacity: 1;
            }
        }

        div {
            padding: 40px;
            min-width: 600px;


            h2 {
                color: white;
                text-transform: uppercase;
                margin-bottom: 20px;
                cursor: default;
            }

            form {
                width: 100%;

                @include myFlex(column, left, left);

                ::placeholder {
                    color: white;
                    font-size: 20px;
                    font-weight: 700;
                }

                label {

                    input {
                        color: white;
                        font-size: 20px;
                        font-weight: 700;

                        height: 40px;
                        outline: none;
                        border: none;


                        &[type="text"],
                        &[type="password"] {
                            cursor: default;
                            margin-top: 5px;
                            width: 100%;
                            background-color: rgba(255, 255, 255, 0);
                        }

                        &[type="submit"] {
                            padding: 0px 20px;
                            margin-top: 30px;
                            cursor: pointer;
                            background-color: black;
                        }
                    }
                }

            }
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}